/*===================== Global Code ====================*/
@media (min-width: 1620px) {
    .container {
        width: 98.625em;
    }
}
@media (min-width: 1900px) {
    .container {
        width: 1638px;
    }
}
.pc {
    display: block;
}

.table-responsive {
    overflow-x: visible;
}

.mobile {
    display: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.section-title {
    padding: 1.25em 0;
}
.section-title h2 {
    margin: 0;
    color: #00b69f;
    font-size: 1.375rem;
    font-weight: 700;
}
.section-title h2 i {
    font-size: 0.7272727273em;
    vertical-align: middle;
    color: #ff023e;
}
.section-title p {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 1225px;
}

.button-u {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    background-color: #ff023e;
    padding: 0.8125em 1.875em;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.button-u:hover {
    background-color: #eaeaea;
    color: #ff023e;
    text-decoration: none;
}

.button-u.gray {
    background-color: #eaeaea;
    color: #ff023e;
}
.button-u.gray:hover {
    background-color: #ff023e;
    color: #ffffff;
}

body {
    font-family: "Fira Sans";
}

/*===================== Header Section ====================*/
.main-header {
    position: relative;
}

.header-space {
    display: none;
}

@media (min-width: 1300px) {
    .header-space {
        display: block;
    }

    .main-header {
        position: fixed;
        width: 100%;
        z-index: 9999;
        background: #fff;
        top: 0;
        left: 0;
    }
}
/*===================== Mega menu ====================*/
.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-brand {
    height: auto;
}
.navbar-brand img {
    width: 14.8333333333em;
}

.navbar-collapse {
    margin: 0 auto;
}

.navbar-default .navbar-nav > li {
    padding: 12px 0;
    background-color: #eaeaea;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    color: #006f61;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 25px;
    border-right: 1px solid #006f61;
    background-color: transparent !important;
}
.navbar-default .navbar-nav > li:first-child {
    border-radius: 70px 0 0 70px;
}
.navbar-default .navbar-nav > li:last-child {
    border-radius: 0 70px 70px 0;
}
.navbar-default .navbar-nav > li:last-child a {
    border-color: transparent;
}

.navbar-default .navbar-nav > li.open.dropdown > a {
    position: relative;
}
.navbar-default .navbar-nav > li.open.dropdown > a:before {
    content: "";
    background: url(../images/menu-arrow.png) no-repeat;
    width: 12px;
    height: 6px;
    background-size: 100% 100%;
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar-default .navbar-nav > li.open.dropdown > a:after {
    content: "";
    border-bottom: 4px solid #ff023e;
    position: absolute;
    left: 1px;
    bottom: -24px;
    width: 100%;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    background: none;
    margin: 0 auto;
    max-width: 829px;
    background: rgba(255, 255, 255, 0.9);
}

.mega-drop {
    list-style: none;
    padding: 0;
    padding: 0 30px;
}
.mega-drop a {
    color: #006f61;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.mega-drop a img {
    width: 96px;
    height: 96px;
    margin-right: 16px;
}
.mega-drop a i {
    color: #ff023e;
    margin-right: 15px;
}

.mega-drop-2 {
    border-left: 2px solid #fff;
}

/*===================== option ====================*/
.options {
    min-width: 18.563em;
    text-align: right;
}
.options i {
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: #ff023e;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    margin: 0 3px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.options i:hover {
    background-color: #eaeaea;
    color: #ff023e;
}
.options .hide-item {
    background-color: #b5b5b5;
    display: none;
}

.options.active i {
    display: none;
}
.options.active .hide-item {
    display: inline-block;
}

.option-area {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #cbcbcb;
    background-color: #fffffc;
    padding: 24px 0;
    text-align: right;
    min-height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 146%;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 33;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    visibility: hidden;
}

.option-area.active {
    position: absolute;
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/*===================== Header Search Form ====================*/
.search-form form {
    width: 471px;
    margin-left: auto;
    border-radius: 32px;
    overflow: hidden;
    background-color: #eaeaea;
}
.search-form form input {
    float: left;
    height: 48px;
    border-radius: 32px;
    background-color: #eaeaea;
    width: calc(100% - 146px);
    border: none;
    color: #b5b5b5;
    font-size: 16px;
    font-style: italic;
    padding: 5px 30px;
}
.search-form form button {
    float: left;
    height: 48px;
    border-radius: 32px;
    background-color: #ff023e;
    width: 146px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

/*===================== Header Social ====================*/
.share-area i {
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: #ff023e;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    margin-right: 8px;
}
.share-area a {
    color: #006f61;
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}

/*===================== Header Setting ====================*/
.setting-area .container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.setting-area .contraste {
    color: #006f61;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.setting-area .contraste button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.setting-area .contraste i {
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: #ff023e;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    margin: 0 3px;
    cursor: pointer;
}
.setting-area .contraste i.black {
    background-color: #292424;
}
.setting-area .contraste i.white {
    background-color: #fffffc;
    color: #292424;
}
.setting-area .contraste i.green {
    background-color: #00b69f;
}
.setting-area .contraste i.red {
    background-color: #ff023e;
}

/*===================== Google Translate ====================*/
body {
    top: 0 !important;
}

.goog-te-banner-frame {
    display: none;
}

.google-translate .goog-te-gadget {
    font-size: 0;
}
.google-translate .goog-logo-link {
    display: none;
}
.google-translate .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 332px;
}
.google-translate .bootstrap-select .dropdown-toggle {
    height: 32px;
    border-radius: 32px;
    background-color: #006f61;
    padding: 5px;
    border-color: #006f61;
}
.google-translate .bootstrap-select .dropdown-toggle:before {
    content: "\f1a0";
    font-family: "Font Awesome 5 Brands";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    left: 5px;
    color: #fff;
    font-size: 23px;
    top: 4px;
}
.google-translate .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.google-translate .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}
.google-translate .bootstrap-select.btn-group .dropdown-toggle .caret {
    border: none;
    font-size: 33px;
    color: #fff;
    top: -4px;
    right: 28px;
}
.google-translate .bootstrap-select.btn-group .dropdown-toggle .caret:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 400;
}

.google-translate {
    position: relative;
}
.google-translate #google_translate_element {
    position: absolute;
    z-index: 5;
    width: 100%;
    opacity: 0;
}
.google-translate #google_translate_element .goog-te-combo {
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
}

.google-translate.active .bootstrap-select.btn-group .dropdown-toggle .caret::after {
    content: "\f106";
}

/*===================== banner-slider ====================*/
.banner-slider {
    position: relative;
}
.banner-slider .slider-img {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 46.1875em;
    min-height: 40.2vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.banner-slider .slider-img .item {
    font-size: 2.5rem;
    font-weight: 300;
    color: #006f61;
    max-width: 20.5em;
    margin-left: auto;
    line-height: 1.2;
}
.banner-slider .slider-img .item .button-u {
    margin-left: 4em;
    margin-top: -4em;
}
.banner-slider .slider-img .item .overlay {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 1.6em;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    color: #ff023e;
    font-size: 2rem;
    margin-top: -1rem;
    cursor: pointer;
    left: 1.25em;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.slick-arrow:hover {
    color: #00b69f;
}

.slick-slider .fa-caret-circle-right {
    left: auto;
    right: 1.25em;
}

/*===================== tramites ====================*/
.tramites  {
    padding-top: 50px;
}
.tramites2 {
    padding-top: 50px;
}

.tramites-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.tramites-menu li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50px;
    background-color: #eaeaea;
    margin: 5px 0.9375em;
}
.tramites-menu li:hover .icon {
    background-color: #006f61;
}
.tramites-menu li a {
    color: #006f61;
    display: block;
    padding: 0.625em;
    padding-right: 2.1875em;
    text-decoration: none;
}
.tramites-menu li .icon {
    display: inline-block;
    background-color: #ff023e;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.tramites-menu li .icon div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

/*===================== poll ====================*/
.poll {
    border-radius: 16px 16px 0 0;
    border: 2px solid #eaeaea;
    padding: 1.875em;
    position: relative;
}
.poll p {
    color: #292424;
    font-size: 1.25rem;
    font-weight: 700;
}
.poll label {
    display: block;
    margin-bottom: 10px;
}
.poll input {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 0;
    float: left;
    margin-top: 3px;
}
.poll span {
    color: #006f61;
    font-size: 1rem;
    font-weight: 400;
    float: left;
    width: 93%;
}
.poll .buttons {
    position: absolute;
    top: 93%;
}
.poll .buttons .button-u {
    margin-right: 0.8125em;
}

/*===================== eventos ====================*/
.eventos {
    margin-top: 30px;
}
.eventos .button-u {
    margin-top: -13px;
    margin-left: 1.875em;
    position: relative;
    z-index: 1;
}
.eventos .items {
    border-radius: 16px 16px 0 0;
    border: 2px solid #eaeaea;
    padding: 1.875em;
}
.eventos .items .slick-arrow {
    left: 8px;
}
.eventos .items .fa-caret-circle-right {
    left: auto;
    right: 8px;
}
.eventos .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.eventos .items .item .img {
    float: left;
    width: 60%;
}
.eventos .items .item .img img {
    width: 100%;
}
.eventos .items .item .text {
    width: 40%;
    float: left;
    padding-left: 0.9375em;
}
.eventos .items .item .text date {
    color: #b5b5b5;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.875em;
    display: block;
}
.eventos .items .item .text a {
    color: #006f61;
    font-size: 1rem;
    font-weight: 700;
}

/*===================== notice-content ====================*/
.notice-content {
    padding-bottom: 30px;
}
.notice-content img {
    width: 100%;
    border-radius: 16px 16px 16px 0;
}
.notice-content .title {
    color: #292424;
    font-size: 1.625rem;
    font-weight: 700;
    display: block;
    margin: 1.1538461538em 0 0.5769230769em 0;
}

.notice-content .title2 {
    color: #292424;
    font-size: 1.125rem;
    font-weight: 700;
    display: block;
    margin: 1.1538461538em 0 0.5769230769em 0;
}
.notice-content p {
    color: #292424;
    font-size: 1rem;
    font-weight: 400;
}
.notice-content .social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 1.875em;
}
.notice-content .social:after {
    content: "";
    position: absolute;
    background: #eaeaea;
    height: 2px;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
}
.notice-content .social .share {
    margin-left: auto;
}
.notice-content .social .share a {
    height: 1.7777777778em;
    width: 1.7777777778em;
    border-radius: 50%;
    background-color: #ff023e;
    color: #fff;
    line-height: 1.7777777778em;
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    margin: 0 1px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.notice-content .social .share a:hover {
    background-color: #eaeaea;
    color: #ff023e;
}

.more {
    color: #006f61;
    font-size: 1rem;
    font-weight: 700;
}

/*===================== service ====================*/
.service {
    padding-top: 50px;
}
.service .item {
    padding: 1.875em 0;
}
.service .item:hover .img {
    background-color: #00b69f;
}
.service .item .img {
    width: 12em;
    height: 12em;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    float: left;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.service .item .img img {
    width: 100%;
}
.service .item .text {
    float: left;
    width: calc(100% - 12em);
    padding-left: 2em;
}
.service .item .text .title {
    color: #006f61;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.service .item .text ul {
    padding-left: 10px;
}
.service .item .text p {
    color: #1f191a;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.9375em 0;
}
.service .item .text .button-u {
    margin-top: 10px;
}

.service-wraper {
    background-color: rgba(0, 182, 159, 0.08);
    padding: 30px 0;
}

/*===================== nuestro ====================*/
.nuestro {
    padding-top: 50px;
}

.partner-slider-overlay {
    -webkit-box-shadow: 0 3px 32px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 32px rgba(0, 0, 0, 0.16);
    border-radius: 16px 16px 0 0;
    border: 2px solid #eaeaea;
    max-width: 1104px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.patner-slider {
    max-width: 80%;
    margin: 0 auto;
}
.patner-slider .slick-arrow {
    left: -10%;
}
.patner-slider .fa-caret-circle-right {
    left: auto;
    right: -10%;
}

/*===================== main-footer ====================*/
.main-footer {
    background-color: #00b69f;
    color: #fffffd;
    padding: 30px 0;
    position: relative;
}
.main-footer .map {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
}
.main-footer a {
    color: #fffffd;
}
.main-footer a:hover {
    color: #FF023E;
}
.main-footer .widget {
    padding: 15px 0;
}
.main-footer .footer-social {
    padding: 30px 0;
}
.main-footer .footer-social a {
    margin-left: 0;
    margin: 5px 0;
    margin-right: 24px;
}
.main-footer .footer-social a:hover i {
    background-color: #eaeaea;
    color: #ff023e;
}
.main-footer .footer-social a i {
    margin: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-bottom {
    background-color: #ff023e;
    padding: 10px 0;
    color: #fff;
}

/*=================== Table page ======================*/
/*===================== Table Breadcramb ====================*/
.bread-area {
    background-color: #00b69f;
}
.bread-area .breadcrumb {
    padding: 0.6875em 0.9375em;
    background-color: transparent;
    margin: 0;
    font-family: #f;
    color: #fff;
}
.bread-area .breadcrumb li {
    font-size: 1rem;
}
.bread-area .breadcrumb li:first-child a {
    color: #ff023e;
}
.bread-area .breadcrumb a {
    font-family: #f;
    color: #006f61;
}

/*===================== Table Side Menu ====================*/
.drawermenu {
    background: rgba(0, 182, 159, 0.08);
    position: relative;
    font-size: 1rem;
}
.drawermenu:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vh;
    right: 100%;
    top: 0;
    /*background: rgba(0, 182, 159, 0.08);*/
}
.drawermenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.drawermenu ul a {
    color: #006f61;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.75;
}
.drawermenu ul li:last-child a.down {
    border-color: transparent;
}
.drawermenu ul a.down {
    padding: 1.25em 1.875em;
    display: block;
    border-bottom: 2px solid #75d7cb;
    position: relative;
}
.drawermenu ul a.down i {
    float: right;
    position: absolute;
    font-size: 2em;
    right: 0.625em;
    top: 0.65625em;
}
.drawermenu ul .sub-menu {
    padding: 0.9375em 2.5em;
    border-bottom: 2px solid #75d7cb;
}
.drawermenu ul a.down.active {
    border-bottom: 0;
    padding-bottom: 0;
    color: #292424;
}
.drawermenu ul a.down.active .fa-angle-down::before {
    content: "\f106";
}
.drawermenu ul a:hover {
    color: #292424;
}
.drawermenu ul ul {
    display: none;
}

/*===================== Table Accordition ====================*/
.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel-collapse {
    /*max-width: 962px;*/
    margin: 0 auto;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border-radius: 0;
}

.panel-title > a {
    color: #006f61;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25em 0;
    border-top: 1px solid #cbcbcb;
    display: block;
}
.panel-title > a i {
    float: right;
    font-size: 1.875rem;
    margin-top: -0.2em;
}

.panel-title > a[aria-expanded="true"] i:before {
    content: "\f106";
}

#table-without-search_wrapper .dataTables_length,
#table-without-search_wrapper .dataTables_filter {
    display: none;
}

/*===================== Blog Content ====================*/
.blog-content {
    border-top: 1px solid #cbcbcb;
}

.blog-item {
    max-width: 961px;
    margin: 0 auto;

}
.blog-item .section-title {
    padding-bottom: 20px;
}
.blog-item .title {
    margin-bottom: 2.25rem;
}
.blog-item .title h3 {
    margin: 0;
}
.blog-item .title h3 a {
    color: #292424;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1;
}
.blog-item date {
    color: #b5b5b5;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
}
.blog-item p {
    color: #1f191a;
    font-size: 1rem;
    font-weight: 400;
}
.blog-item .main-table .dataTables_paginate {
    padding: 0;
    height: auto;
    background: none;
    width: 100%;
    margin: 0;
    margin-top: 20px;
}
.blog-item .main-table .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: none;
    background: #b5b5b5;
}

/*===================== Blog Form ====================*/
.blog-form {
    border-radius: 16px 16px 0;
    border: 2px solid #eaeaea;
    padding: 1.875em;
    position: relative;
    padding-bottom: 3.4em;
    margin: 30px 0;
}
.blog-form p {
    color: #292424;
    font-size: 1rem;
    font-weight: 400;
}
.blog-form input {
    width: 100%;
    height: 3em;
    border-radius: 32px;
    background-color: #eaeaea;
    border: none;
    color: #b5b5b5;
    font-size: 1rem;
    font-style: italic;
    padding: 0 1.875em;
}
.blog-form .button-u {
    position: absolute;
    left: 2em;
    top: 84%;
}

/*===================== Right Fixed Social ====================*/
.table-social {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    background: #fff;
    padding: 40px 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -225px;
}
.table-social a {
    margin-left: 0;
    text-align: center;
    display: block;
    margin-bottom: 35px;
}
.table-social a:last-child {
    margin-bottom: 0;
}
.table-social i {
    margin-right: 0;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.modal{
    top:110px;
}

.develop_by img {
    width: auto;
    height: 11px;
    padding-left: 1px;
    /*vertical-align: baseline;*/
}
#top-link-block.affix {
    bottom: 105px;
    position: fixed;
    right: 30px;
}


/*POST*/
.post_social-area ul {
    float: right;
}

.post_social-area ul li {
    padding-bottom: 20px;
}

.post_social-area ul li a {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #2F2F2F;
}

.post_social-area ul li a i {
    width: 35px;
    height: 35px;
    background: #E24501;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 6px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 0;
}

.single-post {
    overflow: hidden;
}

.post_time ul li {
    font-size: 0.875rem;
    color: #9B9B9B;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0;
}

.post_time ul li i {
    margin-right: 3px;
    font-size: 14px;
}

.post_time ul li:first-child {
    float: left;
}

.post_time ul li:last-child {
    float: right;
}

.single-post img {
    width: 100%;
    height: auto;
}

.post_content{
    padding-top: 20px;
}
audio {
    width: 100%;
}


.tag-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.tag-icon {
    min-width: 33px;
    height: 33px;
    background: #DCDBD6;
    overflow: hidden;
    border-radius: 20px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
}

.tag-icon img {
    width: 20px;
}

.tag-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
}

.tag-item ul li {
    font-size: 0.875rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background: #DCDBD6;
    color: #E24501;
    padding: 10px 0;
    overflow: hidden;
    display: block;
    margin: 0 6px;
    border-radius: 33px;
    width: 160px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

.tag-item span {
    font-size: 0.8125rem;
    padding-right: .9em;
    padding-left: .9em;
    padding-top: .4em;
    padding-bottom: .4em;
}

.entidad_margen{
    margin-top: 25px;
}
.accourdion-area_active > a{
    color: #292424 !important;
    text-decoration: underline;
    font-weight: bold;
}
.float-right{
    float: right;
}
.poll-transparencia ul {
    list-style: none;
    padding: 0px;
}
.poll-transparencia ul li a{
    color: #006f61;
    font-size: 1rem;
    font-weight: 400;
}
.poll-transparencia ul li a:hover{
    color: #000;
}
.poll-transparencia {
    margin-bottom: 15px;
}
.poll-transparencia i{
    color: #ff023e;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #ff053e;
    position: fixed;
    top: 0px;
    right: 100%;
    width: 100%;
    height: 3px;
    z-index: 10000;
}

.video iframe {
    width: 100%;
}
.video iframe.big {
    min-height: 400px;
}
.video iframe.small {
    min-height: 400px;
}



/************************ end nuestro home area *******************************************/
/************************ start information area *******************************************/
.information-tabs {
    overflow: hidden;
    padding-bottom: 40px;
    background: #FFF;
}

.accourdion-area a {
    color: #006F61;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.accourdion-area p {
    color: #006F61;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.accourdion-area p i{
    width: 30px;
}
.accourdion-area_active a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.submenu_interno-header > a:before {
    float: right !important;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f106";
    padding-right: 5px;
    font-size: 22px;
    height: 24px;
    margin-top: -6px;
}

.submenu_interno-header > a.collapsed:before {
    float: right !important;
    content: "\f107 ";
    font-size: 22px;
    height: 24px;
    margin-top: -6px;
}

#accordionEx1 {
    padding: 0 20px;
    background: #EBF9F7;
}

.submenu_interno {
    border: 0;
    background-color: transparent;
}

.submenu_interno-header {
    padding: 12px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #006F61;
}

.submenu_interno:last-child .submenu_interno-header {
    border-bottom: 0;
}

.submenu_interno-header {
    background-color: transparent;
}

.submenu_interno-body {
    padding: 10px 19px;
}

.accourdion-area img {
    width: 20px;
    height: auto;
    margin-right: 6px;
}

.submenu_interno-body ul li:hover a {
    color: #2F2F2F;
}

.information-slider_item img {
    height: 350px;
    width: 100%;
}

.information-image-slider .owl-prev {
    position: absolute;
    top: 0;
    left: 15px;
    background: #006F61 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none !important;
    bottom: 0;
    margin: auto;
    border: 2px solid #FFF !important;
}

.information-image-slider .owl-next {
    position: absolute;
    top: 0;
    right: 15px;
    background: #006F61 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none !important;
    bottom: 0;
    margin: auto;
    border: 2px solid #FFF !important;
}

.information-image-slider .owl-stage-outer {
    display: block;
    height: 350px;
    margin: 30px 0 0 0;
}

.information-image-slider i {
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
}

.information-right-area {
    overflow: hidden;
}

.information-right-content h2,
.h2_header {
    font-size: 1.375rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #2F2F2F;
    border-bottom: 2px solid #006F61;
    display: inline;
    margin: 10px 0;
    display: inline-block;
}

.information-right-content h3 {
    font-size: 1.125rem;
    font-family: 'Nunito', sans-serif;
    color: #2F2F2F;
    margin: 10px 0;
}

.information-right-content h4 {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #2F2F2F;
    margin: 10px 0;
}

.information-right-content p {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #2F2F2F;
}

.information_items {
    margin-top: 40px;
}

.information-right-content {
    padding-top: 30px;
}

.bar-area {
    width: 100%;
    height: 30px;
    background: transparent;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid 
        rgba(0,0,0,.125);
}
.card-mapa-del-sitio > .card-header{
    background: #00B69F;
    color: #fff;
}
.card-mapa-del-sitio ul li{
    background: #EAEAEA;
}
.card-mapa-del-sitio ul li a , .dropdown-item-mapa  {
    color: #212529;
    text-align: left;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: 
        #fff;
    background-clip: padding-box;
    border: 1px solid
        rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: 
        transparent;
    border: 0;
}

.modal {
    text-align: center;
    z-index: 3000;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.rights{
    color:#00B69F; 
}

/* Validation */
label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}
.form-control.error {
    border: 1px dotted #cc5965;
}

/*==========================APP==============================*/
.boton-salir{
    color: #ff023e;
}
.boton-salir:hover{
    color: #000;
}
.info-paciente h3{
    margin-top: 0px;
}
.lista-paciente > .active{
    background-color:#00B69F;
    border-color:#00B69F;
}
.lista-paciente > .active:hover{
    background-color:#007B6C;
    border-color:#007B6C;
}

.navbar-default .navbar-nav > li > a {
	padding: 15px 15px;
}
.navbar-default .navbar-nav > li {
	padding: 12px 0;
	background-color: transparent;
}
.share-area.header-social a {
	margin-left: 6px;
}
.options {
	margin-left: 20px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
}
.options .fas.fa-search.search {
	background: #006F61;
}
.accessibilidad-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #EAEAEA;
	border-radius: 40px;
	padding: 6px;
	margin-left:10px;
}
.accessibilidad-area i {
	margin-left: 0;
}
.accessibilidad-area p {
	margin: 0;
	font-size: 15px;
	color: #006F61;
	margin-left: 6px;
	padding-right: 6px;
}
.options.active .accessibilidad-area.setting {
	display: none;
}
.navbar-default .navbar-nav > li:first-child > a {
	border-left: 1px solid #006f61;
}
.navbar-default .navbar-nav > li:last-child a {
	border-color: #006f61;
}
.tramites-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.tramites-menu li {
	width: 28%;
	margin: 10px 15px;
	text-align: left;
}
.tramites-menu li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media screen and (min-width: 1260px) and (max-width: 1599px){
	.main-header .container {
		width: 100%;
		padding: 0 30px;
	}
	.navbar-brand img {
		width: 11em !important;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 15px 13px;
		font-size:14px;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1259px){
	.navbar-default {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.share-area.header-social.pc.clearfix {
		width: 50%;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.options {
		width: 50%;
		margin-left: 0;
		padding-bottom: 15px;
		padding-top: 10px;
	}
	#navbar-collapse-grid {
		margin-right: 0;
	}
	.tramites-menu li {
		width: 45%;
	}
}
@media all and (max-width:767px){
	.share-area.header-social.pc.clearfix {
		display: none;
	}
	.options {
		top: 18px !important;
	}
	.options.active {
		top: 26px !important;
	}
	.tramites-menu li {
		width: 100%;
		margin: 10px 0;
	}
	.tramites-menu li span {
		margin: 0 0 !important;
	}
	.accessibilidad-area p {
		display: none;
	}
}